.navbar-sk-btn{
    background-color: #ff6a00;
    border: 5px double #000000;
    font-family: 'Moria Citadel';
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.logo {
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #000000;
    opacity: 0.6;
    border: 5px double #ff6a00;
}

.body-content {
    background: url(/images/home.png) no-repeat 50% 0;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.navbar-toggler{
    background-color: #ff6a00;
    opacity: 0.8;
    border-radius: 20px;
    height: 20px;
    border: 5px ridge #ffffff;
}

.username {
    color: #ffffff;
    opacity: 0.6;
    font-size: 36px;
    /*font-size: 3vw;*/
}

.stat{
    font-family: 'Moria Citadel';
    font-weight: bold;
    color: #fff;
}

.inventory{
    overflow: auto;
    height: 380px;
    width: 75%;
    border: 15px double #ffffff;
    background-color: #000000;
    opacity: 0.6;
}

.inventory-btn{
    background-color: #ff6a00;
    border: 8px ridge #ffffff;
    border-radius: 5px;
    opacity: 0.8;
    width: 200px;
}

.option-item {
    color: #ffffff;
    opacity: 1.0;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inventory-header{
    color: #ffffff;
    opacity: 0.6;
}

.location-header {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    opacity: 0.6;
}

.coins {
    font-size: 28px;
    color: #ffffff;
    opacity: 0.6;
}

.capacity {
    font-size: 28px;
    color: #ffffff;
    opacity: 0.6;
}

.item-img {
    margin-top: 10px;
    max-height: 256px;
    max-width: 256px;
    border: 5px solid #ffffff;
    border-radius: 30px;
}

.item-info-img {
    max-height: 200px;
    max-width: 200px;
    border: 5px solid #ffffff;
    border-radius: 30px;
}

.trade-item {
    border: 5px solid #ffffff;
    color: #ff6a00;
    width: 548px;
    display: inline-block;
}

.trade-items-wrap {
   overflow-x: auto;
   height:451px;
   width: auto;
   white-space: nowrap;
}

.trade-items-form-container {
    border: 3px ridge #ffffff;
}

.buy-btn{
    background-color: #ffffff;
    border-radius: 1px;
    border: 8px ridge #ffffff;
    width: 100%;
    font-weight: bold;
}

.equipped-items-header{
    color: #ffffff;
    opacity: 0.6;
}

.not-equipped-item{
    color: #ff6a00;
    opacity: 0.2;
}

.equipped-item {
    color: #ff6a00;
    opacity: 0.6;
}

.avatar {
    background: url(/images/avatar.png) no-repeat;
    height: 256px;
    width: 256px;
}

.avatar-wrap {
    position: relative;
    height: 256px;
    width: 256px;
}

.avatar-description-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.50);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: opacity .2s, visibility .2s;
}

.avatar-wrap:hover .avatar-description-layer {
    visibility: visible;
    opacity: 1;
}

.avatar-description {
    transition: .2s;
    transform: translateY(1em);
}

.avatar-wrap:hover .avatar-description {
    transform: translateY(0);
}

.train-btn {
    margin-top: 20px;
    background-color: #ff6a00;
    border: 8px ridge #ffffff;
    border-radius: 5px;
    opacity: 0.7;
    width: 170px;
}

.quest-btn {
    margin-top: 20px;
    background-color: #ff6a00;
    border: 8px ridge #fffffF;
    border-radius: 20px;
    opacity: 0.7;
    width: 170px;
}
.questboard {
    
    margin-top: 20px;
    border: 10px ridge #ffffff;
    background-color: rgba(150, 150, 150, 0.29);
    height: 370px;
    width: 85%;
    overflow: auto;
}

.questboard-foundation {
    border: 6px ridge #ffffff;
    height: 150px;
    width: 0px;
    
}

.university-radio {
    visibility: hidden;
    height: 0;
    width: 0;
}

.university-label {
    width: 1100px;
    height: 69px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #000000;
    opacity: 0.7;
    color: white;
    
    border: 5px ridge #ffffff;
    border-radius: 15px;
    transition: all 1.3s ease-out;
}

.university-radio:checked + .university-label {
    background-color: #ff6a00;
}

.bs-popover-top{
    margin-bottom: -180px;
}

.popover-body{
    border: 5px ridge #ffffff;
    background-color: rgba(62, 26, 0, 0.58);
}

.arrow{
   visibility: hidden;
}

.quest-result{
    color: #ffffff;
    border: 2px double #ffffff;
    border-radius: 5px;
}








