/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: black;
}

p {
    margin-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    background: url(/images/home.png) no-repeat 50% 0;
    background-size: cover;
    /*background-attachment: fixed;
    background-position: center;*/
    width: 100%;
    overflow: hidden;
}

.navbar {
    background-color: black;
    opacity: 0.6;
}

.center {
    text-align: center;
}

.logo {
    width: 25%;
    height: 25%;
}

.logo-hover figure {
    position: relative;
    margin-bottom: 0;
}

    .logo-hover figure:hover img {
        opacity: 1;
        -webkit-animation: flash 1.0s;
        animation: flash 1.0s;
    }

@-webkit-keyframes flash {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
} 


footer {
    color: white;
    background-color: black;
    opacity: 0.3;
    font-size: 20px;
}

.font-moria-citadel {
    font-family: Moria Citadel;
}

@font-face {
    font-family: "Moria Citadel";
    src: url("/fonts/MoriaCitadel.TTF") format("TTF");
}


.play-btn {
    margin-top: 46%;
    
}

.button--moema {
    opacity: 0.5;
    border: 6px double black;
    padding: 1.5em 3em;
    border-radius: 20px;
    background: #ffa667;
    color: #ffffff;
    -webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
}

    .button--moema.button--inverted {
        background: #2c2c2c;
        color: #ff6a00;
    }

    .button--moema::before {
        content: '';
        position: absolute;
        top: -50px;
        left: -50px;
        bottom: -50px;
        right: -50px;
        background: inherit;
        border-radius: 50px;
        z-index: -1;
        opacity: 0.2;
        -webkit-transform: scale3d(0.8, 0.5, 0);
        transform: scale3d(0.8, 0.5, 0);
    }

    .button--moema:hover {
        -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
        transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
        color: #ECEFF1;
        background-color: #ff8a38;
        -webkit-animation: anim-moema-1 0.3s forwards;
        animation: anim-moema-1 0.3s forwards;
    }

    .button--moema.button--inverted:hover {
        color: #ECEFF1;
        background-color: #7986cb;
    }

    .button--moema:hover::before {
        -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
        animation: anim-moema-2 0.3s 0.3s forwards;
    }

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}