/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: black;
}

p {
    margin-bottom: 0;
}

.center {
    text-align: center;
}

footer {
    color: white;
    background-color: black;
    opacity: 0.3;
    font-size: 20px;
}

.font-moria-citadel {
    font-family: Moria Citadel;
}

@font-face {
    font-family: "Moria Citadel";
    src: url("/fonts/MoriaCitadel.TTF") format("TTF");
}

.logo-hover figure {
    position: relative;
    margin-bottom: 0;
}

    .logo-hover figure:hover img {
        opacity: 1;
        -webkit-animation: flash 0.5s;
        animation: flash 0.5s;
    }

@-webkit-keyframes flash {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}


