@{
    ViewData["Title"] = "Student's Kingdom";
}
<div class="center">
    <button type="button" class="btn btn-lg button--moema play-btn font-moria-citadel">Play</button>
</div>

<div data-url="@Url.Action("LoginWindow","Account")" class="modal fade" role="dialog" id="loginModal"></div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/loginPopUp.js"></script>
}




