@{
    ViewData["Title"] = "Student's Kingdom";
}
<div class="center">
    <button type="button" class="btn btn-lg button--moema play-btn" id="playBtn">Play</button>
</div>

<div data-url="@Url.Action("LoginWindow","Account")" class="modal fade px-0" role="dialog" id="loginModal"></div>


@section Scripts
    {
    <script src="~/js/loginPopUpUponClick.js"></script>
    @if (this.TempData.ContainsKey(ExceptionMessages.ViewDataErrorKey))
    {
        <script src="~/js/alertExceptions.js" data-bind="@this.TempData[ExceptionMessages.ViewDataErrorKey].ToString()" id="error"></script>
        <script src="~/js/loginPopUpUponError.js"></script>
        this.TempData.Clear();
    }

}






