@{
    ViewData["Title"] = "Tavern";
}

<h2 class="font-moria-citadel center location-header">Tavern 33</h2>

<div class="tavern center">
    <input id="pvpBtn" type="button" value="FIGHT" class="tavern-btn font-moria-citadel">
</div>

<div class="modal fade px-0" role="dialog" id="pvpModal"></div>

@section Scripts
    {
        <script src="~/js/pvp.js"></script>
}


