@model Item
<img class="item-img" src="@Model.Image" />
<h2 class="font-moria-citadel">@Model.Name</h2>
<h2 class="font-moria-citadel">@Model.Coins Coins</h2>
@foreach (var stat in Model.Stats.GetType().GetProperties().Where(x => x.Name != "Id" && x.Name != "LazyLoader"))
{
    @if ((int)stat.GetValue(Model.Stats) > 0)
    {
        <h3 class="stat">@($"{stat.Name} {stat.GetValue(Model.Stats)}")</h3>
    }

}
