@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<h1 class="text-center">Register</h1>

<form class="mx-auto half-width" method="post">

    <hr class="eventures-hr" />
    <div class="row">
        <div class="form-group col-md-6">
            <center><label asp-for="Username"><b>Username</b></label></center>
            <input asp-for="Username" type="text" class="form-control" placeholder="Username...">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <center><label asp-for="Email"><b>Email</b></label></center>
            <input asp-for="Email" type="email" class="form-control" placeholder="Email...">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <center><b><label asp-for="Password">Password</label></b></center>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password...">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <center><b><label asp-for="ConfirmPassword">Confirm Password</label></b></center>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password...">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <hr class="eventures-hr" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn eventures-bg-color">Register</button>
    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}


