<div class="username">
    <h1 class="center font-moria-citadel">Name</h1>
</div>
<div class="avatar-wrap mx-auto">
    <div class="avatar"/>
    <div class="avatar-description-layer">
        <div class="avatar-description">
        <h5>1</h5>
        <h5>1</h5>
        <h5>1</h5>
        <h5>1</h5>
        <h5>1</h5>
        <h5>1</h5>
        <h5>1</h5>
        
        </div>
        
    </div>

</div>
<div>


</div>

