<h3 class="location-header">Quest Board</h3>
<form method="post">
    <div class="questboard font-moria-citadel mx-auto">
        <input class="university-radio" type="radio" name="difficult" id="easy" value="Easy" checked />
        <label class="university-label" for="easy">Easy</label>

        <input class="university-radio" type="radio" name="difficult" id="medium" value="Medium" />
        <label class="university-label" for="medium">Medium</label>

        <input class="university-radio" type="radio" name="difficult" id="hard" value="Hard" />
        <label class="university-label" for="hard">Hard</label>

        <input id="questBtn" type="submit" value="Go" class="quest-btn font-moria-citadel" />
    </div>
    <div class="questboard-foundation mx-auto">

    </div>

</form>

<div class="modal fade px-0" role="dialog" id="questModal"></div>
