<h3 class="location-header">Quest Board</h3>
<form method="post" asp-area="Game" asp-controller="University" asp-action="Quest">
    <div class="questboard font-moria-citadel ">
        <input type="radio" name="stat" id="easy" value="easy" />
        <label for="easy">Easy</label>

        <input type="radio" name="stat" id="medium" value="medium" />
        <label for="medium">Medium</label>

        <input type="radio" name="stat" id="hard" value="hard" />
        <label for="hard">Hard</label>

        <input type="submit" value="Go" class="quest-btn font-moria-citadel" />
    </div>
    

    
</form>
