<h3 class="font-moria-citadel location-header">Training Grounds</h3>
<form method="post" asp-area="Game" asp-controller="University" asp-action="Train">

    <input class="university-radio" type="radio" name="stat" id="vitality" value="Vitality" checked/>
    <label class="university-label" for="vitality">Vitality</label>

    <input class="university-radio"  type="radio" name="stat" id="strength" value="Strength" />
    <label class="university-label" for="strength">Strength</label>

    <input class="university-radio"  type="radio" name="stat" id="agility" value="Agility" />
    <label class="university-label" for="agility">Agility</label>

    <input class="university-radio"  type="radio" name="stat" id="intellect" value="Intellect" />
    <label class="university-label" for="intellect">Intellect</label>



    <input type="submit" value="Train" class="train-btn" />
</form>
