<h3 class="font-moria-citadel location-header">Training Grounds</h3>
<form method="post" asp-area="Game" asp-controller="University" asp-action="Train">

    <input type="radio" name="stat" id="vitality" value="vitality" />
    <label for="vitality">Vitality</label>

    <input type="radio" name="stat" id="strength" value="strength" />
    <label for="strength">Strength</label>

    <input type="radio" name="stat" id="agility" value="agility" />
    <label for="agility">Agility</label>

    <input type="radio" name="stat" id="intellect" value="intellect" />
    <label for="intellect">Intellect</label>



    <input type="submit" value="Train" class="train-btn" />
</form>
